__pycache__/
*.py[cod]
*$py.class

*.so

.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
*.egg
dist/
build/

*.log
*.pot
*.pyc
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
*.mo
local_settings.py

**/migrations/
!**/migrations/__init__.py

*.manifest
*.spec

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

*.mo
*.pot

.ipynb_checkpoints

profile_default/
ipython_config.py

.python-version

Pipfile.lock

poetry.lock

__pypackages__/

.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.code-workspace

.DS_Store

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

*.log
*.tmp
*.bak
*.swp

.env
.env.*
render.yaml 

**/migrations/
!**/migrations/__init__.py
